In [1]:
#import lazypredict
#from lazypredict.Supervised import LazyRegressor
import pandas as pd
import numpy as np
import bamboolib
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.utils import shuffle
from sklearn.dummy import DummyRegressor
from sklearn.multioutput import MultiOutputRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.gaussian_process import GaussianProcessRegressor
from xgboost import XGBRegressor
from sklearn.svm import SVR
from sklearn.metrics import r2_score

In [2]:
data_2006_x = pd.read_csv('x_df_2006_data.csv')
data_2006_y = pd.read_csv('y_for_2006_data2011.csv')
data_2011_x = pd.read_csv('x_df_2011_data.csv')
data_2011_y = pd.read_csv('y_for_2011_data2016.csv')

In [3]:
data_2006_x = data_2006_x.dropna(how='any', axis=1)
data_2006_x

,Unnamed: 0,lga,Adelie Land (France)_x,Afghanistan_x,Albania_x,Algeria_x,"Americas, nfd_x",Andorra_x,Angola_x,Anguilla_x,...,Other Religions,Advanced Diploma and Diploma Level,Bachelor Degree Level,Certificate Level,Graduate Diploma and Graduate Certificate Level,Level of education inadequately described,Level of education not stated,Not applicable,Postgraduate Degree Level,Adelie Land (France)_y
0,0,Albury (C),0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,...,138,2371.0,3351.0,7381.0,571.0,587.0,4048.0,27512.0,458.0,0.0
1,1,Armidale Dumaresq (A),0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,...,135,1284.0,2351.0,2976.0,351.0,312.0,1833.0,13225.0,1046.0,0.0
2,2,Ashfield (A),0.0,4.0,0.0,8.0,0.0,0.0,0.0,0.0,...,281,2715.0,6604.0,3396.0,697.0,559.0,4598.0,18417.0,2675.0,0.0
3,3,Ballina (A),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,164,2350.0,3207.0,6163.0,473.0,612.0,3202.0,21911.0,553.0,0.0
4,4,Balranald (A),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3,69.0,90.0,245.0,16.0,19.0,257.0,1741.0,11.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
508,508,Darwin (C),0.0,0.0,0.0,3.0,0.0,0.0,4.0,0.0,...,390,3807.0,6773.0,9420.0,1106.0,730.0,7459.0,35274.0,1716.0,0.0
509,509,Katherine (T),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,50,366.0,513.0,1243.0,78.0,81.0,1257.0,4596.0,58.0,0.0
510,510,Palmerston (C),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,92,1110.0,1145.0,3712.0,202.0,197.0,2644.0,14535.0,168.0,0.0
511,511,Unincorporated NT,0.0,0.0,3.0,3.0,0.0,0.0,0.0,0.0,...,2338,709.0,920.0,2598.0,142.0,159.0,4436.0,21427.0,131.0,0.0
512,512,Unincorporated ACT,0.0,233.0,12.0,13.0,0.0,0.0,15.0,0.0,...,2107,22011.0,51544.0,34489.0,9176.0,3963.0,21236.0,163088.0,17823.0,0.0

In [4]:
data_2011_x = data_2011_x.dropna(how='any', axis=1)
data_2011_x

,Unnamed: 0,lga,Adelie Land (France)_x,Afghanistan_x,Albania_x,Algeria_x,"Americas, nfd_x",Andorra_x,Angola_x,Anguilla_x,...,Other Religions,Advanced Diploma and Diploma Level,Bachelor Degree Level,Certificate Level,Graduate Diploma and Graduate Certificate Level,Level of education inadequately described,Level of education not stated,Not applicable,Postgraduate Degree Level,Adelie Land (France)_y
0,0,Albury (C),0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,...,138,2371.0,3351.0,7381.0,571.0,587.0,4048.0,27512.0,458.0,0.0
1,1,Armidale Dumaresq (A),0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,...,135,1284.0,2351.0,2976.0,351.0,312.0,1833.0,13225.0,1046.0,0.0
2,2,Ashfield (A),0.0,4.0,0.0,8.0,0.0,0.0,0.0,0.0,...,281,2715.0,6604.0,3396.0,697.0,559.0,4598.0,18417.0,2675.0,0.0
3,3,Ballina (A),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,164,2350.0,3207.0,6163.0,473.0,612.0,3202.0,21911.0,553.0,0.0
4,4,Balranald (A),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3,69.0,90.0,245.0,16.0,19.0,257.0,1741.0,11.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
508,508,Darwin (C),0.0,0.0,0.0,3.0,0.0,0.0,4.0,0.0,...,390,3807.0,6773.0,9420.0,1106.0,730.0,7459.0,35274.0,1716.0,0.0
509,509,Katherine (T),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,50,366.0,513.0,1243.0,78.0,81.0,1257.0,4596.0,58.0,0.0
510,510,Palmerston (C),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,92,1110.0,1145.0,3712.0,202.0,197.0,2644.0,14535.0,168.0,0.0
511,511,Unincorporated NT,0.0,0.0,3.0,3.0,0.0,0.0,0.0,0.0,...,2338,709.0,920.0,2598.0,142.0,159.0,4436.0,21427.0,131.0,0.0
512,512,Unincorporated ACT,0.0,233.0,12.0,13.0,0.0,0.0,15.0,0.0,...,2107,22011.0,51544.0,34489.0,9176.0,3963.0,21236.0,163088.0,17823.0,0.0

In [5]:
data_2006_y

,Unnamed: 0,Adelie Land (France)_y,Afghanistan_y,Albania_y,Algeria_y,"Americas, nfd_y",Andorra_y,Angola_y,Anguilla_y,"Antarctica, nfd_y",...,Vanuatu_y,"Virgin Islands, British_y","Virgin Islands, United States_y",Wales_y,Wallis and Futuna_y,"Western Europe, nfd_y",Western Sahara_y,Yemen_y,Zambia_y,Zimbabwe_y
0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,44.0,0.0,0.0,0.0,0.0,10.0,30.0
1,1,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,0.0,0.0,20.0,0.0,0.0,0.0,0.0,0.0,15.0
2,2,0.0,10.0,3.0,9.0,0.0,0.0,3.0,0.0,0.0,...,0.0,0.0,0.0,25.0,0.0,0.0,0.0,0.0,3.0,22.0
3,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,63.0,0.0,0.0,0.0,0.0,4.0,24.0
4,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
508,508,0.0,174.0,0.0,3.0,0.0,0.0,3.0,0.0,0.0,...,20.0,0.0,0.0,77.0,0.0,0.0,0.0,4.0,29.0,253.0
509,509,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,3.0,38.0
510,510,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,30.0,0.0,0.0,0.0,0.0,3.0,33.0
511,511,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,21.0
512,512,0.0,345.0,20.0,32.0,0.0,0.0,17.0,0.0,0.0,...,23.0,0.0,0.0,441.0,0.0,0.0,0.0,26.0,100.0,538.0

## Dummy classifier for time series
## Preprocess data normalizing, scaling and run Lazy predict again

In [6]:
#shuffle data from 2006 and 2011 in order to split training and testing data
data_x = [data_2006_x, data_2011_x]
x = pd.concat(data_x)

data_y = [data_2006_y, data_2011_y]
y_a = pd.concat(data_y)
#shuffle
X, y = shuffle(x, y_a, random_state=13)
#separate the LGA names since it is not needed for running model
#note that the LGA codes have been shuffled with the data so they will still follow the order of the model data
X_a = X.iloc[:,2:]
lgas = X.iloc[:,:2]

In [7]:
X = X_a.astype(np.float32)
y = y.astype(np.float32)
np.any(np.isnan(X))

False

In [10]:
#split data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33)

'''
#scale training data
scaler = preprocessing.StandardScaler().fit(X_train)
X_scaled = scaler.transform(X_train)
'''
X_scaled = X_train

In [11]:
#baseline dummy model, estimating refression using the mean values
dummy_baseline_model = MultiOutputRegressor(DummyRegressor(strategy="mean")).fit(X_scaled,y_train)

dummy_predictions = dummy_baseline_model.predict(X_test)

dummy_score = r2_score(y_test,dummy_predictions,multioutput='uniform_average')
dummy_score

0.10550038994295438

## Regression algorithms to test
#### Random Forest regression
#### Lasso Regression
#### Kneighbours regreesion
#### Gaussian Processes regression
#### XGBRegressor
#### Support Vector Regression

In [ ]:
#models, predictions = MultiOutputRegressor(LazyRegressor(verbose=0, ignore_warnings=False, custom_metric=None)).fit(X_scaled, X_test, y_train, y_test)
#Random Forests Regression
random_forest_model = MultiOutputRegressor(RandomForestRegressor()).fit(X_scaled,y_train)

In [ ]:
random_forest_predictions = random_forest_model.predict(X_test)
random_forest_score = r2_score(y_test,random_forest_predictions,multioutput='uniform_average')



random_forest_train_predictions = random_forest_model.predict(X_train)
random_forest_train_score = r2_score(y_train,random_forest_train_predictions,multioutput='uniform_average')
print("train acuracy is:",random_forest_train_score,"test acuracy is:",random_forest_score)

In [52]:
#K Neighbours regressor
KNN_reg_model = MultiOutputRegressor(KNeighborsRegressor()).fit(X_scaled,y_train)

In [69]:
KNN_predictions = KNN_reg_model.predict(X_test)
KNN_score = r2_score(y_test,KNN_predictions,multioutput='uniform_average')



KNN_train_predictions = KNN_reg_model.predict(X_train)
knn_train_score = r2_score(y_train,KNN_train_predictions,multioutput='uniform_average')
print("train acuracy is:",knn_train_score,"test acuracy is:",KNN_score)

train acuracy is: -25.979482666930338 test acuracy is: -43.50447894312278

In [55]:

GP_reg_model = MultiOutputRegressor(GaussianProcessRegressor()).fit(X_scaled,y_train)

In [73]:
GP_predictions = GP_reg_model.predict(X_test)
GP_score = r2_score(y_test,GP_predictions,multioutput='uniform_average')


GP_train_predictions = GP_reg_model.predict(X_train)
GP_train_score = r2_score(y_train,GP_train_predictions,multioutput='uniform_average')
print("train acuracy is:",GP_train_score,"test acuracy is:",GP_score)

train acuracy is: 0.04440326834247894 test acuracy is: 0.05924852148384116

In [61]:
xgb_model = MultiOutputRegressor(XGBRegressor()).fit(X_scaled,y_train)

In [71]:
xgb_predictions = xgb_model.predict(X_test)
xgb_score = r2_score(y_test,xgb_predictions,multioutput='uniform_average')


xgb_train_predictions = xgb_model.predict(X_train)
xgb_train_score = r2_score(y_train,xgb_train_predictions,multioutput='uniform_average')
print("train acuracy is:",xgb_train_score,"test acuracy is:",xgb_score)

train acuracy is: -32.08827994588496 test acuracy is: -69.32921822681836

In [64]:
svr_model = MultiOutputRegressor(SVR()).fit(X_scaled,y_train)

In [72]:
svr_predictions = svr_model.predict(X_test)
svr_score = r2_score(y_test,svr_predictions,multioutput='uniform_average')


svr_train_predictions = svr_model.predict(X_train)
svr_train_score = r2_score(y_train,svr_train_predictions,multioutput='uniform_average')
print("train acuracy is:",svr_train_score,"test acuracy is:",svr_score)

train acuracy is: -0.06161602190330933 test acuracy is: -0.0845499740663452